header {
    background-color: #8458B3;
}

body {
    background-color: #a28089;
}

h2 {
    color: #1c1c44;
    background-color: #9bbbca;
    text-align: center;
    margin: 20px;
}

h3 {
    color: #1c1c44;
    background-color: #9bbbca;
    text-align: center;
    margin: 15px;
    text-align: center;
}

img {
    margin-left: 23%;
}